<div class="navbar">
    <img class="logo-img" src="{{ url_for('static', filename='images/default_logo.png') }}" />
    <span class="hamburger">&#9776;</span> <!-- Hamburger Icon -->
    <div class="navbar-right" id="navbarRight">
        <span class="closebtn">&times;</span>
        <a href="{{ url_for('home') }}">Inicio</a>
        <!-- Dropdown for News -->
        <div class="dropdown">
            <a class="dropbtn" id="dropBtn">Sobre Nosotros</a>
            <div class="dropdown-content">
                <a href="#news1">Acerca 1</a>
                <a href="#news2">Sobre </a>
                <a href="#news3">Saber mas</a>
            </div>
        </div>
        <a href="#contact">Contacto</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
</div>